
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    padding:0 48px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#128c7e;
    position:fixed;
    width: 100%;
    top: 0;
    
}
.navbar-list{
    margin-right: 250px;
    display:flex;
    gap:20px;
    list-style: none;

}
.navbar-link .img{
    height: 10px;
    width: 10px;
}
.header .logo{
    width: 100px;
    margin-left: 150px;
}
.navbar-link{
    font-size: 9px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    color:white;
    text-decoration: none;

}

.maindiv{
    /* display: flex;   */
    height: 100px;
    width: 250px;
    margin-left: 200px;
}
.img1{
    margin-top:15px ;
    height: 10px;
    width: 10px;
}
.img2{
    margin-top: 15px;
    height:15px ;
    width:15px
}
h6{
    /* margin-top: 20px; */
    
    color:#1CB39B;
}

.box1{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.para1{
    margin-top: 100px;
    font-size: 20px;
    line-height: 30px;
}
.para2{
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
}
.para3{
    margin-top: 15px;
    color:#5E5E5E;
    font-size: 10px;
}
.phone{
    margin-top: -300px;
    margin-left: 300px;
    height: 350px;
    width: 180px;
}
.box{
    display:flex;
    justify-content: space-between;
    /* background-color: darkkhaki; */
    margin-top: 250px;
    
    
}
.box3{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 500px;
    width:400px;
    background-color: #D8E8EA;;
    margin-left: 100px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.box4{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 500px;
    width:400px;
    background-color: #E7F0E4;
    /* margin-left: 80%; */
    margin-right: 110px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}
a{
    color: darkturquoise;
}
.circle{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    background-color:darkturquoise;
    border-radius: 100px;

} 

.head1{
    margin-top:50px ;
    font-size: 20px;
}
.para4{
    margin-top: 30px;
    font-size: 10px;
    line-height: 15px;
}
.phone2{
    margin-top:40px;
    height: 220px;
    width: 200px;
}
.squre1{
    height: 40px;
    width: 130px;
    background-color: white;
    margin-top: -120px;
    border-radius: 10px;
}
.hello{
    padding:10px
}
.squre2{
    height: 20px;
    width:20px;
    background-color:white;
    margin-top: -30px;
    margin-left: 210px;
    transform: rotate(45deg);
}
.head6{
    margin-top: 120px;
    color:black
}
.secu{
    font-size: 20px;
    line-height: 30px;
}
.para5{
    margin-top: 30px;
    font-size: 10px;
    line-height: 15px;
    
}
.explore_div{
    height: 30px;
    width:130px;
    border:1px solid #77d7c8;;
    border-radius: 10px;
    font-size: 10px;
    padding: 10px;
    font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; 
    color:#128c7e;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer{
    display:flex;
    justify-content: space-between;
    font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; 
    list-style:none;
    background-color: #273443;
    color:white;
}
.h4{
    margin-top: 40px;
    font-size: 10px;
}

.u_list1{
    list-style:none;
    font-size: 9px;
    line-height: 18px;
    margin-left: 220px;

}
.u_list2{
    list-style:none;
    font-size: 9px;
    line-height: 18px;
}
.u_list3{
    list-style:none;
    font-size: 9px;
    line-height: 18px;
}
.u_list4{
    list-style:none;
    font-size: 9px;
    line-height: 18px;
    margin-right: 220px;
}
.footer1{
    font-size: 10px;
    color:white;
    height:40px;
    background-color: black;
    display: flex;
    font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; 
    padding-top: 15px;
    
}
.p1{
    margin-left: 220px;
}
.p2{
    margin-left: 400px;
}